{% extends 'base.html' %}
{% load staticfiles %}
{% load c_filters %}
{% block title %} <title>Profile - Social Module</title>{% endblock %}

{% block content %}

    
    <div id="myModal" class="modal">
        <form method="post">
            {% csrf_token %}
        <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p class="form-label">Upload Image</p><br/>
                <input type="file" id="image1"  class="form-control"><br/>
                <button id="create_file" type="submit" class="btn btn-primary btn-sm" >Upload</button>
            </div>
        </form>
    </div>

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <!--<div class="row">-->
                <div class="col-lg-9 main-chart">

                    <!--.>&lt;!&ndash; /row mt &ndash;&gt;-->


                    <div class="row mt">
                    <!-- SERVER STATUS PANELS -->
                        <!--.&lt;!&ndash; /col-md-4&ndash;&gt;-->
                        <div class="col-md-12 col-sm-12 mb" >
                            <div class="darkblue-panel" style="background-image:url({% static 'img/profile-02.jpg' %});background-repeat: no-repeat;background-size: cover;">
                                <div class="darkblue-header">
                                    <h5 class="">PROFILE DETAILS</h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 ">
                                        <p> </p>
                                    </div>
                                    <div class="col-sm-6 col-xs-6"></div>
                                </div>
                                <div class=" goleft" style="margin:10px;">
                                    <div class="profile-pic">
                                        <img src="{{ request.user.profile.image.url }}" width="100" class="">
                                    </div>
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    <div class="text-left col-md-4">
                                        <h3 class="" style="display: inline; padding-left: 20px; color:#ffffff;">
                                            {{ user.first_name|title }} 
                                            {{ user.last_name|title }}
                                        </h3>
                                        <i class="fa fa-circle" style="color:#00e03c;" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="user-details-nav">
                                    <ul>
                                        <li><a href="{% url 'social:friend-list' %}"><h5 style="display: inline-block;">Friend {{ friend_list.count|pluralize }} </h5><span style="margin-left: 5px; color: #c2c2c2;" id="friends-count">{{ friend_list.count }}</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div><!-- /col-md-4 -->

                        <!--<div class="col-md-4 mb">-->
                            <!--&lt;!&ndash; WHITE PANEL - TOP USER &ndash;&gt;-->
                            <!--<div class="white-panel pn">-->
                                <!--<div class="white-header">-->
                                    <!--<h5>TOP USER</h5>-->
                                <!--</div>-->
                                <!--<p><img src="assets/img/ui-zac.jpg" class="img-circle" width="80"></p>-->
                                <!--<p><b>Zac Snider</b></p>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-6">-->
                                        <!--<p class="small mt">MEMBER SINCE</p>-->
                                        <!--<p>2012</p>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-6">-->
                                        <!--<p class="small mt">TOTAL SPEND</p>-->
                                        <!--<p>$ 47,60</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash; /col-md-4 &ndash;&gt;-->


                    </div><!-- /row -->

                    <div class="row">
                        <div class="col-md-12 col-sm-12 mb">
                            <div>
                                <h4>You have {{ non_friend_list.count }} new friend requests</h4>
                                <div class="friend-container">
                                    {% for friend_obj in non_friend_list %}
                                        <div class="non-friend-div-id-{{ friend_obj.pk }} not-friends">
                                            {% use_time_stamp friend_obj.request_to.profile.timestamp|timesince as user_status %}
                                            <input type="hidden" name="not-friend-id" value="{{ friend_obj.pk }}">
                                            <div class="profile-image-container">
                                            {% if friend_obj.request_from.profile.image %} 
                                                    <a href="{% url 'social:friend-profile' friend_obj.request_from.first_name friend_obj.request_from.last_name friend_obj.request_from.pk %}">
                                                        <img src="{{friend_obj.request_from.profile.image.url}}" style="border-radius: 100%; max-height:100%; max-width:100%;">
                                                    </a>
                                                {% else %}
                                                <a href="{% url 'social:friend-profile' friend_obj.request_from.first_name friend_obj.request_from.last_name friend_obj.request_from.pk %}">
                                                    <img 
                                                        {% if friend_obj.request_from.profile.gender == 'male'%} 
                                                            src="{% static 'img/male_user.png' %}" 
                                                        {% else %}
                                                            src="{% static 'img/female_user.png' %}"
                                                        {% endif %} 
                                                    style="border-radius: 100%; max-height:100%; max-width:100%;">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="profile-info-container">
                                            <h4 style="margin-bottom:5px; display: inline;"><a href="{% url 'social:friend-profile' friend_obj.request_from.first_name friend_obj.request_from.last_name friend_obj.request_from.pk %}">{{friend_obj.request_from.first_name|title}} {{friend_obj.request_from.last_name|title}}</a></h4>
                                            {% get_age friend_obj.request_from.profile.birth_date as age %}
                                            <h4 style="margin-bottom:5px; display: inline;">
                                                <a href="{% url 'social:friend-profile' friend_obj.request_from.first_name friend_obj.request_from.last_name friend_obj.request_from.pk %}">
                                            </h4>
                                            {% if user_status == 'online' %}
                                                <i class="fa fa-circle" style="padding: 0px 5px; color:#00e03c;" aria-hidden="true"></i></br>
                                                {% else %}
                                                <br>
                                            {% endif %}
                                            
                                            {% if friend_obj.request_from.profile.gender %}<span>{{age}} yrs</span>&nbsp;{% endif%}
                                            {% if friend_obj.request_from.profile.gender %}
                                                {% if friend_obj.request_from.profile.gender == 'male' %}
                                                    <i class="fa fa-mars" style="color: #2e7eff;"></i>
                                                {% endif%}
                                                {% if friend_obj.request_from.profile.gender == 'female' %}
                                                    <i class="fa fa-venus" style="color: pink"></i>
                                                {% endif%}
                                                {% if friend_obj.request_from.profile.gender == 'other' %}
                                                    <span>
                                                        {{ friend_obj.request_from.profile.gender }}
                                                    </span>
                                                {% endif%}
                                                </br>
                                            {% endif%}
                                            {% if friend_obj.request_from.profile.city %}<span>from {{friend_obj.request_from.profile.country|title}}</span>{% endif %}
                                             <ul>
                                                <li>
                                                    <input type="hidden" name="friend-id" value="{{ friend_obj.request_from.pk }}">
                                                    <a class="request-approve btn btn-success" href="{% url 'social:request-approve' friend_obj.request_from.pk %}" role="button" style="padding:3px 6px;">Approve</a>
                                                </li>
                                                <li>
                                                    <a class="request-delete btn btn-danger" href="{% url 'social:undo-request' friend_obj.request_from.pk %}" role="button" style="padding:3px 6px;">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                        </div>
                                        
                                    {% endfor %}
                                </div>
                            </div>

                           

                        </div>
                    </div><!-- /row -->


                     <div class="row">
                        <div class="col-md-12 col-sm-12 mb">
                            <div>
                                <h4>You have {{ friend_list.count }} new friend requests</h4>
                                <div class="not-friend-container">
                                    {% for friend in friend_list %}
                                        <div class="not-friend-div-id-{{ friend.pk }} not-friends">
                                            {% use_time_stamp request.timestamp|timesince as user_status %}
                                            <input type="hidden" name="not-friend-id" value="{{ friend.pk }}">
                                            <div class="profile-image-container">
                                            {% if friend_obj.request_from.profile.image %} 
                                                    <a href="{% url 'social:friend-profile' friend.request_from.first_name friend.request_from.last_name friend.request_from.pk %}">
                                                        <img src="{{friend.request_from.profile.image.url}}" style="border-radius: 100%; max-height:100%; max-width:100%;">
                                                    </a>
                                                {% else %}
                                                <a href="{% url 'social:friend-profile' friend.request_from.first_name friend.request_from.last_name friend.request_from.pk %}">
                                                    <img 
                                                        {% if friend.request_from.profile.gender == 'male'%} 
                                                            src="{% static 'img/male_user.png' %}" 
                                                        {% else %}
                                                            src="{% static 'img/female_user.png' %}"
                                                        {% endif %} 
                                                    style="border-radius: 100%; max-height:100%; max-width:100%;">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="profile-info-container">
                                            <h4 style="margin-bottom:5px; display: inline;"><a href="{% url 'social:friend-profile' friend.request_from.first_name friend.request_from.last_name friend.request_from.pk %}">{{friend.request_from.first_name|title}} {{friend.request_from.last_name|title}}</a></h4>
                                            {% get_age friend.request_from.profile.birth_date as age %}
                                            <h4 style="margin-bottom:5px; display: inline;">
                                            <a href="{% url 'social:friend-profile' friend.request_from.first_name friend.request_from.last_name friend.request_from.pk %}">
                                            {{user_obj.user.first_name|title}} {{user_obj.user.last_name|title}}</a></h4>
                                            {% if user_status == 'online' %}
                                                <i class="fa fa-circle" style="padding: 0px 5px; color:#00e03c;" aria-hidden="true"></i></br>
                                                {% else %}
                                                <br>
                                            {% endif %}
                                            
                                            {% if friend.request_from.profile.gender %}<span>{{age}} yrs</span>&nbsp;{% endif%}
                                            {% if friend.request_from.profile.gender %}
                                                {% if friend.request_from.profile.gender == 'male' %}
                                                    <i class="fa fa-mars" style="color: #2e7eff;"></i>
                                                {% endif%}
                                                {% if friend.request_from.profile.gender == 'female' %}
                                                    <i class="fa fa-venus" style="color: pink"></i>
                                                {% endif%}
                                                {% if friend.request_from.profile.gender == 'other' %}
                                                    <span>
                                                        {{ friend.request_from.profile.gender }}
                                                    </span>
                                                {% endif%}
                                                </br>
                                            {% endif%}
                                            {% if friend.request_from.profile.city %}<span>from {{friend.request_from.profile.country|title}}</span>{% endif %}
                                            <ul>
                                                <li>
                                                    <input type="hidden" name="friend-id" value="{{ friend_obj.request_from.pk }}">
                                                    <a class="request-approve btn btn-primary" href="{% url 'social:request-approve' friend.request_from.pk %}" role="button" style="padding:3px 6px;">Message</a>
                                                </li>
                                                <li>
                                                    <a class="request-delete btn btn-primary" href="{% url 'social:undo-request' friend.request_from.pk %}" role="button" style="padding:3px 6px;">Unfriend</a>
                                                </li>
                                            </ul>
                                        </div>
                                        </div>
                                        
                                    {% endfor %}
                                </div>
                            </div>

                            {% for x in not_friends %}
                               
                            {% endfor %}

                        </div>
                    </div><!-- /row -->

                    <div class="row mt">
                    <!--CUSTOM CHART START -->
                    <div class="border-head">
                        <h3>VISITS</h3>
                    </div>
                    <div class="custom-bar-chart">
                        <ul class="y-axis">
                            <li><span>10.000</span></li>
                            <li><span>8.000</span></li>
                            <li><span>6.000</span></li>
                            <li><span>4.000</span></li>
                            <li><span>2.000</span></li>
                            <li><span>0</span></li>
                        </ul>
                        <div class="bar">
                            <div class="title">JAN</div>
                            <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top">85%</div>
                        </div>
                        <div class="bar ">
                            <div class="title">FEB</div>
                            <div class="value tooltips" data-original-title="5.000" data-toggle="tooltip" data-placement="top">50%</div>
                        </div>
                        <div class="bar ">
                            <div class="title">MAR</div>
                            <div class="value tooltips" data-original-title="6.000" data-toggle="tooltip" data-placement="top">60%</div>
                        </div>
                        <div class="bar ">
                            <div class="title">APR</div>
                            <div class="value tooltips" data-original-title="4.500" data-toggle="tooltip" data-placement="top">45%</div>
                        </div>
                        <div class="bar">
                            <div class="title">MAY</div>
                            <div class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top">32%</div>
                        </div>
                        <div class="bar ">
                            <div class="title">JUN</div>
                            <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">62%</div>
                        </div>
                        <div class="bar">
                            <div class="title">JUL</div>
                            <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
                        </div>
                    </div>
                    <!--custom chart end-->
                    </div><!-- /row -->

                </div><!-- /col-lg-9 END SECTION MIDDLE -->


    <!-- **********************************************************************************************************************************************************
    RIGHT SIDEBAR CONTENT
    *********************************************************************************************************************************************************** -->

                <div class="col-lg-3 ds">
                    <!--COMPLETED ACTIONS DONUTS CHART-->
                        <h3>NOTIFICATIONS</h3>

                    <!-- First Action -->
                    <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>2 Minutes Ago</muted><br/>
                            <a href="#">James Brown</a> subscribed to your newsletter.<br/>
                            </p>
                        </div>
                    </div>
                    <!-- Second Action -->
                    <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>3 Hours Ago</muted><br/>
                            <a href="#">Diana Kennedy</a> purchased a year subscription.<br/>
                            </p>
                        </div>
                    </div>
                    <!-- Third Action -->
                    <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>7 Hours Ago</muted><br/>
                            <a href="#">Brandon Page</a> purchased a year subscription.<br/>
                            </p>
                        </div>
                    </div>
                    <!-- Fourth Action -->
                    <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>11 Hours Ago</muted><br/>
                            <a href="#">Mark Twain</a> commented your post.<br/>
                            </p>
                        </div>
                    </div>
                    <!-- Fifth Action -->
                    <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>18 Hours Ago</muted><br/>
                            <a href="#">Daniel Pratt</a> purchased a wallet in your store.<br/>
                            </p>
                        </div>
                    </div>

                    <!-- USERS ONLINE SECTION -->
                        <h3>TEAM MEMBERS</h3>
                    <!-- First Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">DIVYA MANIAN</a><br/>
                            <muted>Available</muted>
                            </p>
                        </div>
                    </div>
                    <!-- Second Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-sherman.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">DJ SHERMAN</a><br/>
                            <muted>I am Busy</muted>
                            </p>
                        </div>
                    </div>
                    <!-- Third Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-danro.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">DAN ROGERS</a><br/>
                            <muted>Available</muted>
                            </p>
                        </div>
                    </div>
                    <!-- Fourth Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-zac.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">Zac Sniders</a><br/>
                            <muted>Available</muted>
                            </p>
                        </div>
                    </div>
                    <!-- Fifth Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-sam.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">Marcel Newman</a><br/>
                            <muted>Available</muted>
                            </p>
                        </div>
                    </div>

                        <!-- CALENDAR-->
                        <div id="calendar" class="mb">
                            <div class="panel green-panel no-margin">
                                <div class="panel-body">
                                    <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title" style="disadding: none;"></h3>
                                        <div id="date-popover-content" class="popover-content"></div>
                                    </div>
                                    <div id="my-calendar"></div>
                                </div>
                            </div>
                        </div><!-- / calendar -->

                </div><!-- /col-lg-3 -->
            </div><!--/row -->
        </section>
    </section>

  
{% endblock %}

{% block custom_scripts %}
    <script type="application/javascript">
    
    $(document).on('click', '.request-approve', function(event){
            var $this = $(this);
            var friend_id = $(this).parent().find('[name="not-friend-id"]').val();
            event.preventDefault();
            var ref = $(this).attr('href');
            $.ajax({
                url: ref,
                datatype: 'json',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(data){
                    $this.parents('.profile-info-container').append(`
                        <span class="text-center" style="display: block; padding: 5px 10px; background: #c2c2c2;%">Request accepted</span>
                    `)
                    $this.parents('ul').remove();
0
                }
            })
        })

    </script>
{% endblock %}