{% extends 'base.html' %}
{% load staticfiles %}
{% load c_filters %}
{% block title %} <title>{{ user_obj.user.first_name|title }} {{ user_obj.user.last_name|title }}</title>{% endblock %}

{% block content %}
{% use_time_stamp user_obj.user.profile.timestamp|timesince as user_status %}


    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <!--<div class="row">-->
                <div class="col-lg-9 main-chart">

                    <!--.>&lt;!&ndash; /row mt &ndash;&gt;-->


                    <div class="row mt">
                    <!-- SERVER STATUS PANELS -->
                        <!--.&lt;!&ndash; /col-md-4&ndash;&gt;-->
                        <div class="col-md-12 col-sm-12 mb" >
                            <div class="darkblue-panel" style="background-image:url({% static 'img/profile-02.jpg' %});background-repeat: no-repeat;background-size: cover;">
                                <div class="darkblue-header">
                                    <h5 class="">PROFILE DETAILS</h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 ">
                                        <p> </p>
                                    </div>
                                    <div class="col-sm-6 col-xs-6"></div>
                                </div>
                                <div class=" goleft" style="margin:10px;">
                                    <div class="profile-pic">
                                        <img
                                            {% if user_obj.image %}
                                                src="{{ user_obj.image.url }}" 
                                            {% else %}
                                                {% if user_obj.gender == 'male'%} 
                                                    src="{% static 'img/male_user.png' %}" 
                                                {% else %}
                                                    src="{% static 'img/female_user.png' %}"
                                                {% endif %} 
                                            {% endif %}
                                            width="100" class="">
                                    </div>
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    <div class="text-left col-md-6">
                                        <h3 class="" style="display: inline; padding-left: 20px; color:#ffffff;">
                                            {{ user_obj.user.first_name|title }} 
                                            {{ user_obj.user.last_name|title }}
                                        </h3>
                                        {% if user_status == 'online' %}
                                            <i class="fa fa-circle" style="color:#00e03c;" aria-hidden="true"></i></br>
                                            {% else %}
                                            <br>
                                        {% endif %} 
                                    </div>
                                    <div class="col-md-6 text-left">
                                        <a href="#" role="button" class="btn btn-primary" style="padding:3px 6px;">Add member<i class="pointer fa fa-user-plus" aria-hidden="true"></i></a>
                                        <a href="#" role="button" class="btn btn-primary" style="padding:3px 6px;">Send message<i class="fa fa-envelope"></i></a>
                                    </div>
                                    
                                </div>

                            </div>
                        </div><!-- /col-md-4 -->

                        <!--<div class="col-md-4 mb">-->
                            <!--&lt;!&ndash; WHITE PANEL - TOP USER &ndash;&gt;-->
                            <!--<div class="white-panel pn">-->
                                <!--<div class="white-header">-->
                                    <!--<h5>TOP USER</h5>-->
                                <!--</div>-->
                                <!--<p><img src="assets/img/ui-zac.jpg" class="img-circle" width="80"></p>-->
                                <!--<p><b>Zac Snider</b></p>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-6">-->
                                        <!--<p class="small mt">MEMBER SINCE</p>-->
                                        <!--<p>2012</p>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-6">-->
                                        <!--<p class="small mt">TOTAL SPEND</p>-->
                                        <!--<p>$ 47,60</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash; /col-md-4 &ndash;&gt;-->


                    </div><!-- /row -->


                    <div class="row">
                        <!-- TWITTER PANEL -->
                    <div class="col-md-12 col-sm-12 mb">
                        <div class="panel panel-info ">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-4" style="color:black;">First Name </label>:
                                        {{ user_obj.user.first_name|title }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-4" style="color:black;">Last Name </label>:
                                        {{ user_obj.user.last_name|title }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-4" style="color:black;">Email Id </label>:
                                        {{ user_obj.user.email }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-4" style="color:black;">Username</label>:
                                        {{ user_obj.user.username }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-4" style="color:black;">Gender </label>:
                                        {{ user_obj.user.profile.gender|title }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-4" style="color:black;">Birth Date</label>:
                                        {{ user_obj.user.profile.birth_date }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-4" style="color:black;">City </label>:
                                        {{ user_obj.user.profile.city|title }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-4" style="color:black;">State</label>:
                                        {{ user_obj.user.profile.state|title }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-4" style="color:black;">Country </label>:
                                        {{ user_obj.user.profile.country|title }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-4" style="color:black;">Address</label>:
                                        {{ user_obj.user.profile.fullAddress|title }}
                                    </div>
                                </div>
                            </div><! -- /darkblue panel -->
                        </div><!-- /col-md-4 -->
                    </div>

                        <!--<div class="col-md-4 mb">-->
                            <!--&lt;!&ndash; INSTAGRAM PANEL &ndash;&gt;-->
                            <!--<div class="instagram-panel pn">-->
                                <!--<i class="fa fa-instagram fa-4x"></i>-->
                                <!--<p>@THISISYOU<br/>-->
                                    <!--5 min. ago-->
                                <!--</p>-->
                                <!--<p><i class="fa fa-comment"></i> 18 | <i class="fa fa-heart"></i> 49</p>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash; /col-md-4 &ndash;&gt;-->

                        <!--<div class="col-md-4 col-sm-4 mb">-->
                            <!--&lt;!&ndash; REVENUE PANEL &ndash;&gt;-->
                            <!--<div class="darkblue-panel pn">-->
                                <!--<div class="darkblue-header">-->
                                    <!--<h5>REVENUE</h5>-->
                                <!--</div>-->
                                <!--<div class="chart mt">-->
                                    <!--<div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>-->
                                <!--</div>-->
                                <!--<p class="mt"><b>$ 17,980</b><br/>Month Income</p>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash; /col-md-4 &ndash;&gt;-->

                    </div><!-- /row -->

                    <div class="row mt">
                    <!--CUSTOM CHART START -->
                    <div class="border-head">
                        <h3>VISITS</h3>
                    </div>
                    <div class="custom-bar-chart">
                        <ul class="y-axis">
                            <li><span>10.000</span></li>
                            <li><span>8.000</span></li>
                            <li><span>6.000</span></li>
                            <li><span>4.000</span></li>
                            <li><span>2.000</span></li>
                            <li><span>0</span></li>
                        </ul>
                        <div class="bar">
                            <div class="title">JAN</div>
                            <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top">85%</div>
                        </div>
                        <div class="bar ">
                            <div class="title">FEB</div>
                            <div class="value tooltips" data-original-title="5.000" data-toggle="tooltip" data-placement="top">50%</div>
                        </div>
                        <div class="bar ">
                            <div class="title">MAR</div>
                            <div class="value tooltips" data-original-title="6.000" data-toggle="tooltip" data-placement="top">60%</div>
                        </div>
                        <div class="bar ">
                            <div class="title">APR</div>
                            <div class="value tooltips" data-original-title="4.500" data-toggle="tooltip" data-placement="top">45%</div>
                        </div>
                        <div class="bar">
                            <div class="title">MAY</div>
                            <div class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top">32%</div>
                        </div>
                        <div class="bar ">
                            <div class="title">JUN</div>
                            <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">62%</div>
                        </div>
                        <div class="bar">
                            <div class="title">JUL</div>
                            <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
                        </div>
                    </div>
                    <!--custom chart end-->
                    </div><!-- /row -->

                </div><!-- /col-lg-9 END SECTION MIDDLE -->


    <!-- **********************************************************************************************************************************************************
    RIGHT SIDEBAR CONTENT
    *********************************************************************************************************************************************************** -->

                <div class="col-lg-3 ds">
                    <!--COMPLETED ACTIONS DONUTS CHART-->
                        <h3>NOTIFICATIONS</h3>

                    <!-- First Action -->
                    <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>2 Minutes Ago</muted><br/>
                            <a href="#">James Brown</a> subscribed to your newsletter.<br/>
                            </p>
                        </div>
                    </div>
                    <!-- Second Action -->
                    <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>3 Hours Ago</muted><br/>
                            <a href="#">Diana Kennedy</a> purchased a year subscription.<br/>
                            </p>
                        </div>
                    </div>
                    <!-- Third Action -->
                    <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>7 Hours Ago</muted><br/>
                            <a href="#">Brandon Page</a> purchased a year subscription.<br/>
                            </p>
                        </div>
                    </div>
                    <!-- Fourth Action -->
                    <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>11 Hours Ago</muted><br/>
                            <a href="#">Mark Twain</a> commented your post.<br/>
                            </p>
                        </div>
                    </div>
                    <!-- Fifth Action -->
                    <div class="desc">
                        <div class="thumb">
                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        </div>
                        <div class="details">
                            <p><muted>18 Hours Ago</muted><br/>
                            <a href="#">Daniel Pratt</a> purchased a wallet in your store.<br/>
                            </p>
                        </div>
                    </div>

                    <!-- USERS ONLINE SECTION -->
                        <h3>TEAM MEMBERS</h3>
                    <!-- First Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">DIVYA MANIAN</a><br/>
                            <muted>Available</muted>
                            </p>
                        </div>
                    </div>
                    <!-- Second Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-sherman.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">DJ SHERMAN</a><br/>
                            <muted>I am Busy</muted>
                            </p>
                        </div>
                    </div>
                    <!-- Third Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-danro.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">DAN ROGERS</a><br/>
                            <muted>Available</muted>
                            </p>
                        </div>
                    </div>
                    <!-- Fourth Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-zac.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">Zac Sniders</a><br/>
                            <muted>Available</muted>
                            </p>
                        </div>
                    </div>
                    <!-- Fifth Member -->
                    <div class="desc">
                        <div class="thumb">
                            <img class="img-circle" src="assets/img/ui-sam.jpg" width="35px" height="35px" align="">
                        </div>
                        <div class="details">
                            <p><a href="#">Marcel Newman</a><br/>
                            <muted>Available</muted>
                            </p>
                        </div>
                    </div>

                        <!-- CALENDAR-->
                        <div id="calendar" class="mb">
                            <div class="panel green-panel no-margin">
                                <div class="panel-body">
                                    <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title" style="disadding: none;"></h3>
                                        <div id="date-popover-content" class="popover-content"></div>
                                    </div>
                                    <div id="my-calendar"></div>
                                </div>
                            </div>
                        </div><!-- / calendar -->

                </div><!-- /col-lg-3 -->
            </div><!--/row -->
        </section>
    </section>

{% endblock %}

{% block custom_scripts %}{% endblock %}